* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.container-header {
    height: 100vh;
    background-color: black;
    overflow: scroll;
}

.header-main {
    min-height: 60px;
    text-align: end;
    margin-right: 10px;
    color: white;
    padding-top: 30px;
}

.speaker-view, .logo-speaker {
    background-color:#4a4a4a;
    padding: 4px;
    border-radius: 3px;
}

.container-zoom {
    width: 100vw;
    padding-left: 55px;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
.container-zoom div {
    width: 170px;
    height: 105px;
    margin-left: 4px;
    margin-top: 10px;
    background-image: url('../img/mountain.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
div span {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 1px 4px;
    font-size: 13px;
}

.container-zoom > div {
    position: relative;
}
.container-zoom span {
    position: absolute;
    bottom: 0;
    left: 0;
}

/* footer */
footer {
    min-height: 50px;
    width: 100vw;
    background-color: rgba(34,34,34,255);
    position: absolute;
    bottom: 0px;
    display: flex;
    align-items: center;
    color: white;
}

footer .mic-foot {
    text-align: start;
    color: white;
    font-size: 18px;
    flex-grow: 1;
    display: flex;
}
footer > .mic-foot > div > p {
    font-size: 12px;
}
.mic-foot > div {
    padding-left: 7px;
}
.mic-foot > div > .microphone{
    margin-left: 8px;
}

.mic-foot > div > .video{
    margin-left: 20px;
}

.mic-foot {
    align-items: center;
}
.items-foot {
    align-items: center;
}
.end-foot {
    align-items: center;
}

/* regole items-foot */
.items-foot {
    flex-grow: 2;
    text-align: center;
    display: flex;
    justify-content: center;
    margin-right: 20px;
    font-size: 13px;
}
.items-foot > div {
    padding-left: 12px;
}

.end-foot {
    flex-grow: 1;
    text-align: end;
    color: red;
    align-items: center;
}

.end-foot > div {
    background-color: #4a4a4a;
    flex-grow: 0;
    height: 100%;
    display: inline-block;
    padding: 20px 10px;
}

